html, body {
	width: 200px;
	padding: 0px;
	margin: 0px;
}

div.button {
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
	cursor: pointer;
	font-size: 14px;
}

div.button:hover {
	background-color: #e6e6e6;
}

div.button > img.icon {
	height: 15px;
	vertical-align: middle;
}